---
import Layout from "../../layouts/Layout.astro";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import * as PARAMS from "@utils/urlParams";
import InputGroup from "@components/InputGroup.astro";

let userEmail;

const PAGE_TITLE = "Resetowanie hasła";
const url = new URL(Astro.request.url);
const emailParam = url.searchParams.get(PARAMS.EMAIL);

if (emailParam) {
  userEmail = emailParam;
}
---

<Layout title={pageTitle(PAGE_TITLE)}>
  <password-reset-form>
    <AuthForm>
      <h1 slot="form-header">{PAGE_TITLE}</h1>
      <InputGroup>
        <label for="email">Podaj adres e-mail konta</label>
        <input id="email" type="email" name="email" value={userEmail} />
      </InputGroup>
      <button type="submit">Wyślij</button>
    </AuthForm>
  </password-reset-form>
</Layout>

<script>
  import "@wc/PasswordResetForm";
</script>
