---
import Layout from "../layouts/Layout.astro";
import Appbar from "@components/Appbar.astro";
import Search from "@components/Search.astro";
import Categories from "@components/Categories.astro";
import Slides from "@components/Slides.astro";
import Customers from "@components/Customers.astro";
import Alternatives from "@components/Alternatives.astro";
import CTA from "@components/CTA.astro";
import Footer from "@components/Footer.astro";
import getTitle from "@utils/pageTitle";
import LatestPosts from "@components/LatestPosts.astro";
import { getSession } from "auth-astro/server";
import { Page } from "@type";
import captureError from "@utils/sentry";
import { getPage } from "@api/pages";

const session = await getSession(Astro.request);
const userEmail = session?.user?.email ?? undefined;

const pageId = `6c91451c-fad4-46e7-984c-ed81074ed4b4`;
let keywords: Page["keywords"], description: Page["description"];

try {
  ({ keywords, description } = await getPage(pageId));
} catch (e) {
  captureError(e);
}
---

<Layout title={getTitle()} keywords={keywords} description={description}>
  <Appbar email={userEmail} />
  <main>
    <section id="browse">
      <Search />
      <Categories />
    </section>
    <Slides />
    <Customers />
    <Alternatives />
    <LatestPosts />
  </main>
  <CTA />
  <Footer />
</Layout>

<style>
  main {
    @apply container;
    @apply flex items-center justify-center flex-wrap;
    @apply gap-50;
  }

  #browse {
    @apply pt-15 md:pt-50 lg:pt-60;
    @apply flex flex-col gap-60;
  }
</style>
