---
import Layout from "../layouts/Layout.astro";
import pageTitle from "../utils/pageTitle";
---

<Layout title={pageTitle("Regulamin")}>
    <div>
        <h1>Regulamin usługi</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            auctor orci magna, id cursus erat ultricies pretium. Donec tincidunt
            fringilla felis, gravida gravida felis semper at. Donec laoreet
            massa in metus interdum hendrerit. Aliquam et tincidunt urna. Nullam
            eu luctus nibh, vitae finibus orci. Etiam gravida sodales imperdiet.
            Curabitur faucibus congue euismod. In pretium quam quis leo lacinia,
            quis laoreet risus maximus. Aliquam bibendum pellentesque nisl, vel
            feugiat velit aliquet elementum. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Donec id
            neque ac eros malesuada mollis id in urna. Cras lobortis enim ac
            dignissim efficitur. Nunc hendrerit neque quis orci rutrum, in
            accumsan diam maximus. Nam sollicitudin aliquet nulla, quis viverra
            massa condimentum eget. Praesent ultricies vehicula neque, at
            lacinia purus suscipit a. Interdum et malesuada fames ac ante ipsum
            primis in faucibus.
        </p>

        <p>
            Etiam aliquam massa sed lorem finibus, elementum aliquam elit
            laoreet. Maecenas augue massa, porttitor sit amet convallis at,
            scelerisque sed dolor. In laoreet felis sit amet libero fringilla,
            eu ultrices justo dictum. Fusce eget mollis odio. Proin ac dui
            tincidunt, hendrerit ex sit amet, sagittis ipsum. Vivamus tincidunt
            eros in est imperdiet aliquam. Phasellus consequat ut libero sed
            tristique. Sed faucibus finibus velit, a euismod dui ultrices id.
            Etiam nec felis sed nulla interdum efficitur. Maecenas ut neque
            augue. Morbi id porta arcu. Cras a eros iaculis, vehicula ligula ut,
            efficitur nulla. Nam imperdiet ex sed eros dapibus, nec vulputate
            erat auctor. Duis consectetur quis mauris quis vehicula. Nulla sem
            metus, consequat eu orci sed, scelerisque mattis augue.
        </p>

        <p>
            Etiam ac imperdiet tortor. Nunc sed enim auctor, auctor eros vitae,
            ultrices elit. Suspendisse auctor, augue quis imperdiet efficitur,
            nisi elit ultrices sem, viverra bibendum odio magna nec turpis.
            Vivamus efficitur consequat metus nec ornare. Vivamus lorem magna,
            imperdiet nec volutpat a, viverra eu nulla. Fusce id magna quis odio
            fermentum lacinia. Sed bibendum eleifend urna, id scelerisque urna.
            Nunc vel ligula purus. Vestibulum at metus nisi. Ut molestie ligula
            sapien. Etiam ac neque euismod, consequat nibh nec, sodales turpis.
            Etiam velit ante, gravida non euismod eu, fringilla sit amet tellus.
            Aliquam ultricies velit in gravida viverra. Etiam nec sagittis nisi,
            vulputate tincidunt elit.
        </p>

        <p>
            Fusce malesuada lorem vel pellentesque ultricies. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Nam nisi ex, mattis quis orci non, elementum
            fringilla purus. Aenean maximus interdum aliquet. Nam dolor odio,
            mattis ac tortor at, mollis eleifend urna. Cras in sollicitudin
            mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            sit amet pellentesque enim. Donec sapien urna, pulvinar eu felis
            vitae, iaculis euismod dolor. Aliquam eu dictum lorem, non porta
            mauris. Donec non tortor quis sem bibendum accumsan in ultricies
            enim. Donec semper elit vel dolor tempor viverra. Ut sit amet
            molestie dolor.
        </p>

        <p>
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia curae; Aenean congue augue quis bibendum
            pellentesque. Donec risus dui, efficitur ac mauris feugiat,
            dignissim malesuada dui. Vestibulum sed ipsum sit amet ligula
            sagittis tincidunt sed tempor orci. Cras metus eros, pretium eu
            rhoncus id, feugiat sed massa. Aenean laoreet lectus nec dui
            scelerisque, interdum tincidunt nulla dictum. Pellentesque vulputate
            erat odio, at laoreet metus pulvinar ut. Nullam urna ex, dictum in
            posuere id, feugiat ut dolor. Aenean volutpat porttitor nibh, non
            lobortis nunc sagittis vel. Nulla nec urna eu turpis malesuada
            elementum id a purus. Nam suscipit et libero non ultrices. Curabitur
            sed consequat ex, ut blandit nulla. Suspendisse potenti. Duis at
            libero id tellus pulvinar finibus congue faucibus eros. Sed in
            auctor turpis. Sed facilisis, erat et finibus malesuada, orci neque
            commodo ipsum, malesuada ultricies lacus orci id ex.
        </p>
    </div>
</Layout>

<style>
    div {
        @apply bg-white rounded-lg p-30;
        @apply w-[90%] max-w-[900px] mx-auto;
        @apply my-20 sm:my-30;
    }
</style>
