---
import headers from "@utils/apiHeaders";
import Layout from "../layouts/Layout.astro";
import pageTitle from "@utils/pageTitle";
import type { PortableTextBlock } from "@portabletext/types";
import BlogContent from "@components/BlogContent.astro";

let title: string | undefined, body: PortableTextBlock[] | null | undefined;

try {
  const response = await fetch(
    `${Astro.url.origin}/api/pages/2041bad6-bf46-450d-a5c6-2dd2afa09501`,
    {
      headers,
    }
  );

  if (!response.ok) {
    throw new Error("", { cause: response.status });
  }

  ({ title, body } = await response.json());
} catch (e) {
  if (e instanceof Error) {
    return Astro.redirect("/404");
  }
}
---

<Layout title={pageTitle(title)}>
  <div class="prose">
    <h1>{title}</h1>
    {body && <BlogContent content={body} />}
  </div>
</Layout>

<style>
  div {
    @apply bg-white rounded-lg p-30;
    @apply w-[90%] max-w-[900px] mx-auto;
    @apply my-20 sm:my-30;
  }
</style>
