---
import Layout from "../layouts/Layout.astro";
import { getUserByEmail, activateUser } from "../../db/auth";
import Logo from "../images/logo.astro";
import error from "../utils/errors";
import pageTitle from "../utils/pageTitle";

const url = new URL(Astro.request.url);
const userEmail = decodeURIComponent(url.searchParams.get("email"));
const redirectUrl = url.searchParams.get("redirect");

if (!userEmail) {
  return Astro.redirect("/404");
}

let errors = [];

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const postedCode = formData.get("code");
  const user = await getUserByEmail(userEmail);

  if (user) {
    const { code, id } = user;
    if (code === postedCode) {
      await activateUser(id);

      return Astro.redirect(
        `/zaloguj-sie${redirectUrl ? `?redirect=${redirectUrl}` : ``}`
      );
    } else {
      errors.push(error.WRONG_VERIFICATION_CODE);
    }
  } else {
    return Astro.redirect("/404");
  }
}
---

<Layout title={pageTitle("Weryfikacja adresu e-mail")}>
  <div class="auth-form">
    <Logo />
    <p>Podaj kod wysłany na adres e-mail <strong>{userEmail}</strong></p>
    <form method="POST">
      <input type="text" name="code" required />
      <button type="submit">Wyślij</button>
      {errors.length ? errors.map((error) => <p>{error}</p>) : null}
    </form>
  </div>
</Layout>
