---
import Layout from "../layouts/Layout.astro";
import { getUserByEmail, activateUser } from "../../db/auth";

const url = new URL(Astro.request.url);
const userEmail = decodeURIComponent(url.searchParams.get("email"));
const redirectUrl = url.searchParams.get("redirect");

if (!userEmail) {
  return Astro.redirect("/404");
}

let errors = [];

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const postedCode = formData.get("code");
  const { code, id } = await getUserByEmail(userEmail);

  if (code) {
    if (code === postedCode) {
      await activateUser(id);

      return Astro.redirect(
        `/zaloguj-sie${redirectUrl ? `?redirect=${redirectUrl}` : ``}`
      );
    } else {
      errors.push("Posted code does not match verification code");
    }
  } else {
    return Astro.redirect("/404");
  }
}
---

<Layout title="Wryfikacja adresu e-mail">
  {errors.length ? errors.map((error) => <p>{error}</p>) : null}
  <form method="POST">
    <h4>Podaj kod weryfikacyjny</h4>
    <input type="text" name="code" required />
    <button type="submit">Wyślij</button>
  </form>
</Layout>
