---
import Layout from "../layouts/Layout.astro";
import { getUserByEmail, createUser, resendCode } from "../../db/auth";
import bcrypt from "bcryptjs";

let errors = [];

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = String(formData.get("email"));
  const password = String(formData.get("password"));
  const { id, active } = await getUserByEmail(email);

  if (id) {
    if (active) {
      errors.push("User already exists");
    } else {
      await resendCode(id);
      return Astro.redirect(`/weryfikacja?email=${email}`);
    }
  } else {
    const newUser = await createUser(
      email,
      bcrypt.hashSync(password, bcrypt.genSaltSync(10))
    );

    if (newUser) {
      const { email } = newUser;
      return Astro.redirect(`/weryfikacja?email=${email}`);
    } else {
      return Astro.redirect("/404");
    }
  }
}
---

<Layout title="Załóż konto - Prawniczek">
  {errors.length ? errors.map((error) => <p>{error}</p>) : null}
  <form method="POST">
    <input type="email" name="email" required />
    <input
      type="password"
      name="password"
      required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    />
    <button type="submit">Załóż konto</button>
    <footer>
      <small
        >Hasło powinno mieć minimum 8 znaków, w tym przynajmniej jedną wielką
        literę i jedną cyfrę</small>
    </footer>
  </form>
</Layout>
