---
import Layout from "../layouts/Layout.astro";
import pageTitle from "@utils/pageTitle";
import AuthForm from "@components/AuthForm.astro";
import InputGroup, { InputType } from "@components/InputGroup.astro";
import routes from "@utils/routes";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect(routes.MY_DOCUMENTS);
}
---

<Layout title={pageTitle("Załóż konto")}>
  <sign-up-form>
    <AuthForm>
      <h1 slot="form-header">Załóż konto</h1>
      <InputGroup>
        <label for="email">Adres e-mail</label>
        <input id="email" type="email" name="email" required />
      </InputGroup>
      <InputGroup>
        <label for="password">Hasło</label>
        <input
          id="password"
          type="password"
          name="password"
          required
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,20}$"
        />
        <small
          >Hasło powinno mieć co najmniej 8 znaków, maksymalnie 20 znaków, w tym
          przynajmniej jedną wielką literę i jedną cyfrę</small
        >
      </InputGroup>
      <InputGroup type={InputType.checkbox}>
        <input type="checkbox" name="tos" id="tos" required />
        <label for="tos">
          Akceptuję warunki <a href={routes.TOS} target="_blank">regulaminu</a>
        </label>
      </InputGroup>
      <button type="submit">Załóż konto</button>
      <footer slot="form-footer">
        Masz już konto?
        <a href={`${routes.SIGN_IN}${Astro.url.search}`}>Zaloguj się</a>
      </footer>
    </AuthForm>
  </sign-up-form>
</Layout>

<script>
  import "@wc/SignUpForm";
</script>
