---
import Layout from "../layouts/Layout.astro";
import { getUserByEmail, createUser } from "../../db/auth";
import bcrypt from "bcryptjs";

let errors = [];

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = String(formData.get("email"));
  const password = String(formData.get("password"));

  if (await getUserByEmail(email)) {
    errors.push("User already exists");
  } else {
    const newUser = await createUser(email, bcrypt.hashSync(password, bcrypt.genSaltSync(10)));
    const code = Math.random().toString(16).substring(2, 6);
    Astro.cookies.set(
      "verification",
      bcrypt.hashSync(code, bcrypt.genSaltSync(10)),
      {maxAge: 6000, httpOnly: true}
    );

    return Astro.redirect("/weryfikacja");
  }
}
---

<Layout title="Załóż konto - Prawniczek">
  {errors.length ? errors.map((error) => <p>{error}</p>) : null}
  <form method="POST">
    <input type="email" name="email" required />
    <input type="password" name="password" required />
    <button type="submit">Załóż konto</button>
  </form>
</Layout>
