---
import { db } from "../../../db/db";
import { seed } from "../../../db/categories/seed";

import CategoryBlock from "../../components/CategoryBlock.astro";

const icons = {
  motoryzacja: "cat-1",
  nieruchomosci: "cat-2",
  podroze: "cat-3",
  praca: "cat-4",
  rodzina: "cat-5",
  sport: "cat-6",
  zdrowie: "cat-7",
  biznes: "cat-8",
  zakupy: "cat-9",
  zwierzeta: "cat-10",
};

let categories2;

try {
  categories2 = await db.selectFrom("categories").selectAll().execute();
} catch (e: any) {
  if (e.message === `relation "categories" does not exist`) {
    await seed();

    categories2 = await db.selectFrom("categories").selectAll().execute();
  } else {
    throw e;
  }
}
---

<section>
  <h4>lub przeglądaj w kategoriach</h4>
  <div id="categories">
    {
      categories2.map(({ name, slug }) => (
        <CategoryBlock title={name} href="#" icon={icons[String(slug)]} />
      ))
    }
  </div>
  <footer>
    <a href="#">Zobacz wszystkie dokumenty</a>
  </footer>
</section>

<style>
  section {
    /* @apply lg:px-60; */
    @apply text-center w-full;
    @apply flex flex-col gap-40;
  }

  section > div {
    @apply flex flex-wrap items-center justify-center lg:grid lg:grid-cols-5 gap-30;
    @apply m-auto;
  }

  footer > a {
    @apply btn btn-alt;
  }

  section > h4 {
    @apply text-dark55;
  }
</style>
