---
import { db } from "../../../db/db";
import { seed } from "../../../db/categories/seed";

import CategoryBlock from "../../components/CategoryBlock.astro";
import catIcon1 from "../../images/cat-1.svg";
import catIcon2 from "../../images/cat-2.svg";
import catIcon3 from "../../images/cat-3.svg";
import catIcon4 from "../../images/cat-4.svg";
import catIcon5 from "../../images/cat-5.svg";
import catIcon6 from "../../images/cat-6.svg";
import catIcon7 from "../../images/cat-7.svg";
import catIcon8 from "../../images/cat-8.svg";
import catIcon9 from "../../images/cat-9.svg";
import catIcon10 from "../../images/cat-10.svg";

const icons = {
  motoryzacja: catIcon1,
  nieruchomosci: catIcon2,
  podroze: catIcon3,
  praca: catIcon4,
  rodzina: catIcon5,
  sport: catIcon6,
  zdrowie: catIcon7,
  biznes: catIcon8,
  zakupy: catIcon9,
  zwierzeta: catIcon10,
};

let categories2;

try {
  categories2 = await db.selectFrom("categories").selectAll().execute();
} catch (e: any) {
  if (e.message === `relation "categories" does not exist`) {
    await seed();

    categories2 = await db.selectFrom("categories").selectAll().execute();
  } else {
    throw e;
  }
}
---

<section>
  <h4>lub przeglądaj w kategoriach</h4>
  <div id="categories">
    {
      categories2.map(({ name, slug }) => (
        <CategoryBlock title={name} href="#" icon={icons[String(slug)]} />
      ))
    }
  </div>
  <footer>
    <a href="#">Zobacz wszystkie dokumenty</a>
  </footer>
</section>

<style>
  section {
    /* @apply lg:px-60; */
    @apply text-center w-full;
    @apply flex flex-col gap-40;
  }

  section > div {
    @apply flex flex-wrap items-center justify-center lg:grid lg:grid-cols-5 gap-30;
    @apply m-auto;
  }

  footer > a {
    @apply btn btn-alt;
  }

  section > h4 {
    @apply text-dark55;
  }
</style>
