---
import InputGroup from "@components/InputGroup.astro";

const {
  street,
  apt,
  postalCode,
  city,
  streetFieldName,
  aptFieldName,
  postalCodeFieldName,
  cityFieldName,
  required = false,
} = Astro.props;
---

<address>
  <InputGroup>
    <label for={streetFieldName || "street"}>Adres (ulica i numer domu)</label>
    <input
      id={streetFieldName || "street"}
      type="text"
      name={streetFieldName || "street"}
      value={street}
      required={required || undefined}
      class="flex-grow"
    />
  </InputGroup>
  <InputGroup>
    <label for={aptFieldName || "apt"}>Adres (numer lokalu)</label>
    <input
      id={aptFieldName || "apt"}
      type="text"
      name={aptFieldName || "apt"}
      value={apt}
      required={required || undefined}
      class="flex-grow"
    />
  </InputGroup>
  <section>
    <InputGroup>
      <label for={postalCodeFieldName || "postalCode"}>Kod pocztowy</label>
      <input
        id={postalCodeFieldName || "postalCode"}
        type="text"
        name={postalCodeFieldName || "postalCode"}
        value={postalCode}
        required={required || undefined}
        class="flex-grow"
      />
    </InputGroup>
    <InputGroup>
      <label for={cityFieldName || "city"}>Miasto</label>
      <input
        id={cityFieldName || "city"}
        type="text"
        name={cityFieldName || "city"}
        value={city}
        required={required || undefined}
        class="flex-grow"
      />
    </InputGroup>
  </section>
</address>

<style>
  section {
    @apply flex gap-20 flex-wrap lg:flex-nowrap;
  }

  section :global(div),
  address :global(div input) {
    @apply flex-grow;
  }

  address {
    @apply flex flex-col gap-20;
  }
</style>
