---
import { getEntry } from 'astro:content';
const { data, template, token } = Astro.props;

if (!data) {
  return;
}

let CompiledContent;
let textContent;

if (template) {
  const answer = await getEntry('answers', template);  

  if (!answer) return;

  const {remarkPluginFrontmatter: aData, Content} = await answer.render();

  for (let key of Object.keys(aData)) {
    aData[key] = data[key] ? data[key] : data[token];
  }

  CompiledContent = Content;
}

if (!template && token) {
  const value = data[token];

  textContent = Array.isArray(value) ? value.join(", ") : value;
}
---

<div>
  {CompiledContent && <CompiledContent />}
  {textContent && textContent}
</div>

<style>
  div {
    @apply text-dark90 text-lg;
  }
</style>
