---
import Menu from "@components/Menu.astro";
import Logo from "../images/logo.astro";

interface Props {
  email?: string;
}

const { email } = Astro.props;
---

<header>
  <a href="/" id="logo" aria-label="Prawniczek">
    <Logo />
  </a>
  <Menu email={email} />
</header>

<style>
  header {
    @apply container;
    @apply flex items-center flex-wrap justify-between;
    @apply py-15;
    @apply sticky top-0;
    @apply bg-gray;
    @apply z-40;
  }
</style>
