---
import Menu from "@components/Menu.astro";
import Logo from "../images/logo.astro";

export enum AppBarTheme {
  default = "",
  yellow = "yellow",
}

interface Props {
  email?: string;
  theme?: AppBarTheme;
}

const { email, theme } = Astro.props;
---

<header data-theme={theme !== AppBarTheme.default ? theme : undefined}>
  <div>
    <a href="/" id="logo" aria-label="Prawniczek">
      <Logo />
    </a>
    <Menu
      email={email}
      theme={theme !== AppBarTheme.default ? theme : undefined}
    />
  </div>
</header>

<style>
  header {
    @apply w-full;
    @apply sticky top-0;
    @apply bg-white;
    @apply z-menu;
    @apply shadow-1;
  }

  header > div {
    @apply lg:container;
    @apply flex items-center flex-wrap gap-30 justify-between;
    @apply px-20 lg:px-30 py-15;
  }

  header[data-theme="yellow"] {
    @apply bg-yellow;
  }
</style>
