<span>
    <slot />
</span>

<style>
    span {
        @apply px-10 py-[5px] bg-yellow text-yellowDark rounded-xl;
        @apply font-sans text-xxs font-bold uppercase not-italic tracking-wide;
    }
</style>
