---
import Icon, { IconSize } from "@components/Icon.astro";

export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<a href={href} title={title}>
  <Icon name="arrow-right-circle" size={IconSize.sm} />
  {title}
</a>

<style>
  a {
    @apply flex items-center gap-15 px-5;
    @apply text-black hover:text-active text-sans-xl;
  }

  svg {
    @apply flex-shrink-0;
  }
</style>
