---
import Modal from "@components/Modal.astro";
---

<Modal slot="footer">
  <change-name-form>
    <h3>Zmień nazwę</h3>
    <form spellcheck="false" method="POST">
      <input type="text" name="title" maxlength="50" />
      <input type="hidden" name="template" />
      <button>Zapisz</button>
    </form>
  </change-name-form>
</Modal>

<style>
  change-name-form {
    @apply flex flex-col gap-10 w-full;
  }

  change-name-form form {
    @apply flex flex-col gap-10 items-end;
  }

  change-name-form button {
    @apply btn btn-default;
  }

  change-name-form input {
    @apply w-full;
  }
</style>

<script>
  import "@wc/ChangeNameForm";
</script>
