---
import { Icon } from "astro-icon";

const { id, title } = Astro.props;
---

<change-name-button data-doc-id={id} data-title={title}>
  <button title="Zmień nazwę">
    <Icon name="edit" width={20} height={20} />
  </button>
</change-name-button>

<style>
  change-name-button {
    @apply block;
  }

  change-name-button button {
    @apply btn btn-alt;
  }
</style>

<script>
  import "@wc/ChangeNameButton";
</script>
