---

---

<cookie-banner>
  <p>Strona zapisuje informacje dotyczące użytkowników w formie ciasteczek.</p>
  <p>Informacje są niezbędne w celu poprawnego funkcjonowania serwisu.</p>

  <button id="accept">Rozumiem</button>
  <button id="reject">Użyj tylko niezbędnych</button>
</cookie-banner>

<style>
  cookie-banner {
    @apply py-15 px-20 bg-yellow text-black/70 rounded z-max border shadow-3;
    @apply fixed bottom-15 left-15;
    @apply w-[260px];
    @apply flex flex-col gap-15 items-start;
    @apply text-sans-md text-black;
  }

  cookie-banner button#accept {
    @apply btn btn-default;
  }

  cookie-banner button#reject {
    @apply text-black/70 hover:text-active text-sans-sm;
  }

  cookie-banner.animate {
    animation-name: hideToast;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes hideToast {
    0% {
      @apply opacity-100;
    }

    100% {
      @apply opacity-0;
    }
  }
</style>

<script>
  import "@wc/CookieBanner";
</script>
