---
import Icon from "astro-icon";

const { id } = Astro.props;
---

<copy-document data-document-id={id}>
  <button title="Utwórz kopię">
    <Icon name="copy-document" width={20} height={20} />
  </button>
</copy-document>

<style>
  button {
    @apply btn btn-alt;
  }
</style>

<script>
  import "@wc/CopyDocument";
</script>
