---
import Icon from "astro-icon";

const { id } = Astro.props;
---

<delete-draft data-document-id={id}>
  <button title="Usuń szkic">
    <Icon name="delete" width={24} height={24} />
  </button>
</delete-draft>

<style>
  button {
    @apply btn btn-alt;
  }
</style>

<script>
  import { DRAFT_REMOVED_PARAM } from "@utils/toasts";

  class DeleteDraft extends HTMLElement {
    button: HTMLButtonElement | null;
    documentId: string | undefined;

    constructor() {
      super();

      this.button = this.querySelector("button");
      this.documentId = this.dataset.documentId;
    }

    connectedCallback() {
      if (this.button) {
        this.button.addEventListener("click", async () => {
          const redirectUrl = new URL(window.location.href);
          redirectUrl.search = "";
          const response = await fetch(`/api/documents/${this.documentId}`, {
            method: "DELETE",
          });

          try {
            if (response.status === 200) {
              redirectUrl.searchParams.set(DRAFT_REMOVED_PARAM, "1");
            } else {
              redirectUrl.searchParams.set(DRAFT_REMOVED_PARAM, "0");
            }
          } catch {
            redirectUrl.searchParams.set(DRAFT_REMOVED_PARAM, "0");
          } finally {
            window.requestAnimationFrame(() => {
              window.history.pushState({}, "", redirectUrl);
              window.location.reload();
            });
          }
        });
      }
    }
  }
  customElements.define("delete-draft", DeleteDraft);
</script>
