---
import { Icon } from "astro-icon";

interface Props {
  icon?: string;
  cta?: string;
  ctaUrl?: string;
}

const { icon, cta, ctaUrl } = Astro.props;
---

<div>
  {icon && <Icon name={icon} width={64} height={64} />}
  <slot />
  {
    ctaUrl && (
      <footer>
        <a href={ctaUrl} aria-label={cta}>
          {cta}
        </a>
      </footer>
    )
  }
</div>

<style>
  div {
    @apply h-full flex flex-col gap-15 items-center justify-center;
    @apply text-italic-md text-black;
    @apply pb-60;
  }

  footer {
    @apply flex not-italic;
  }

  footer a {
    @apply btn btn-default;
  }

  div :global(svg path) {
    @apply fill-black;
  }
</style>
