---
import { Icon } from "astro-icon";

interface Props {
  icon?: string;
  cta?: string;
  ctaUrl?: string;
}

const { icon, cta, ctaUrl } = Astro.props;
---

<div>
  {icon && <Icon name={icon} width={80} height={80} />}
  <slot />
  {
    ctaUrl && (
      <footer>
        <a href={ctaUrl} aria-label={cta}>
          {cta}
        </a>
      </footer>
    )
  }
</div>

<style>
  div {
    @apply h-full flex flex-col gap-20 items-center justify-center;
  }

  p {
    @apply text-xl;
  }

  footer a {
    @apply btn btn-default btn-big;
  }

  div :global(svg path) {
    @apply fill-dark40;
  }
</style>
