---
const d = new Date();
const year = d.getFullYear();
---

<span>
  &copy; Prawniczek {year} | Wszelkie prawa zastrzeżone
</span>

<style>
  span {
    @apply block text-center text-sans-xxs;
    @apply p-20;
  }
</style>
