<div>
  <h6>Płatności obsługują</h6>
  <svg
    width="85"
    height="41"
    viewBox="0 0 85 41"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M74.4269 20.8863C74.4269 16.284 72.1977 12.6526 67.937 12.6526C63.6583 12.6526 61.0696 16.284 61.0696 20.8503C61.0696 26.2616 64.1257 28.9942 68.5123 28.9942C70.6516 28.9942 72.2696 28.5088 73.492 27.8256V24.2301C72.2696 24.8413 70.8673 25.2189 69.0875 25.2189C67.3437 25.2189 65.7977 24.6076 65.5999 22.4863H74.3909C74.3909 22.2526 74.4269 21.3177 74.4269 20.8863ZM65.546 19.1784C65.546 17.147 66.7864 16.302 67.919 16.302C69.0156 16.302 70.1842 17.147 70.1842 19.1784H65.546ZM54.1302 12.6526C52.3684 12.6526 51.2359 13.4795 50.6066 14.0548L50.3729 12.9402H46.4179V33.902L50.9123 32.9492L50.9302 27.8616C51.5774 28.329 52.5302 28.9942 54.1123 28.9942C57.3302 28.9942 60.2606 26.4054 60.2606 20.7065C60.2426 15.493 57.2763 12.6526 54.1302 12.6526ZM53.0516 25.0391C51.9909 25.0391 51.3617 24.6616 50.9302 24.1942L50.9123 17.5245C51.3797 17.0031 52.0269 16.6436 53.0516 16.6436C54.6875 16.6436 55.8201 18.4773 55.8201 20.8324C55.8201 23.2413 54.7055 25.0391 53.0516 25.0391ZM40.2336 11.5919L44.746 10.6211V6.97168L40.2336 7.92449V11.5919ZM40.2336 12.9582H44.746V28.6885H40.2336V12.9582ZM35.3977 14.2885L35.11 12.9582H31.2269V28.6885H35.7212V18.0279C36.7819 16.6436 38.5797 16.8953 39.137 17.093V12.9582C38.5617 12.7425 36.4583 12.347 35.3977 14.2885ZM26.4089 9.05707L22.0224 9.9919L22.0044 24.3919C22.0044 27.0526 23.9999 29.0121 26.6606 29.0121C28.1347 29.0121 29.2134 28.7425 29.8066 28.4189V24.7694C29.2314 25.0031 26.3909 25.8301 26.3909 23.1694V16.7874H29.8066V12.9582H26.3909L26.4089 9.05707ZM14.2561 17.5245C14.2561 16.8234 14.8314 16.5537 15.7842 16.5537C17.1505 16.5537 18.8763 16.9672 20.2426 17.7043V13.4795C18.7505 12.8863 17.2763 12.6526 15.7842 12.6526C12.1347 12.6526 9.70776 14.5582 9.70776 17.7402C9.70776 22.702 16.5392 21.911 16.5392 24.0503C16.5392 24.8773 15.8201 25.147 14.8134 25.147C13.3212 25.147 11.4156 24.5357 9.90552 23.7088V27.9874C11.5774 28.7065 13.2673 29.0121 14.8134 29.0121C18.5527 29.0121 21.1235 27.1604 21.1235 23.9425C21.1055 18.5852 14.2561 19.538 14.2561 17.5245Z"
      fill="currentColor"></path>
  </svg>
  <svg
    width="86"
    height="31"
    viewBox="0 0 86 31"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_54_3190)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M18.4203 17.6828L25.4025 17.6738L25.148 19.2631L19.3087 24.839L24.2105 24.8301L23.9248 26.5444L16.7061 26.5488L17.0096 24.7765L22.6078 19.4149H18.1391L18.4203 17.6828Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.782 14.9642C10.6302 14.8035 10.4115 14.6785 10.1704 14.5803C9.91595 14.4821 9.6347 14.4106 9.35791 14.3615C9.0097 14.299 8.67041 14.2723 8.42934 14.2633C8.20613 14.2544 8.06327 14.2544 8.06327 14.2544H5.0097H2.73737L0.70166 26.549H2.60345L3.35345 21.9955L7.04095 22.0133C7.04095 22.0133 8.47845 22.0714 9.4963 21.5312C10.5142 20.991 10.7865 19.7633 10.7865 19.7633C10.7865 19.7633 10.8981 19.308 10.9918 18.7544C11.0945 18.1428 11.1972 17.4106 11.2508 17.0223C11.2731 16.8526 11.2865 16.7455 11.2865 16.7455C11.2865 16.7455 11.3133 16.6205 11.3133 16.424C11.3177 16.1517 11.2776 15.741 11.0633 15.3481C10.9874 15.2098 10.8981 15.0848 10.782 14.9642ZM9.31773 17.1339C9.31773 17.1562 9.14809 18.1428 8.92488 19.3124C8.84005 19.7589 8.4963 19.9999 8.10345 20.0848C7.45166 20.2231 6.75077 20.1964 6.75077 20.1964L3.67041 20.1874L4.34898 16.1026L7.13916 16.1115C7.13916 16.1115 7.32666 16.1071 7.59005 16.1115C7.88916 16.116 8.28648 16.1294 8.61238 16.174C8.89363 16.2098 9.11684 16.2678 9.18827 16.3571C9.28202 16.4731 9.31773 16.6249 9.33113 16.7589C9.34898 16.9553 9.31773 17.1205 9.31773 17.1339Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M34.8712 14.2544H36.7016L34.6525 26.549L32.8176 26.5446L34.8712 14.2544Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M44.6392 17.6828L46.3936 17.6784L47.0142 23.9194L49.7151 17.6694L51.8802 17.6739L52.5186 23.9418L55.2151 17.6784H57.0365L53.1704 26.54H51.0097L50.3847 20.3346L47.657 26.54L45.532 26.5489L44.6392 17.6828Z"
        fill="currentColor"></path>
      <path
        d="M31.4918 17.7543C30.9784 17.5891 30.09 17.5534 29.3355 17.5623C28.6079 17.5712 28.273 17.6069 28.0007 17.665C28.0007 17.665 26.7061 17.8525 25.9695 18.7632C25.2329 19.6739 25.0141 21.665 25.0141 21.665C25.0141 21.665 24.5766 23.8659 24.7061 24.6025C24.8355 25.3346 25.0632 26.0177 25.8936 26.3346C26.7239 26.6561 27.4293 26.6382 27.4293 26.6382C27.4293 26.6382 28.9114 26.7543 30.0275 26.4909C31.1436 26.2275 31.7329 25.4418 31.7329 25.4418C31.7329 25.4418 31.9963 25.1025 32.1838 24.7007C32.3713 24.2989 32.4293 24.0177 32.4382 23.9819L32.5543 23.5043L30.657 23.5087C30.657 23.5087 30.5543 24.7632 29.5275 24.8793C28.5052 24.9953 27.9561 24.9507 27.7552 24.9418C27.5588 24.9328 26.4605 24.9819 26.5498 24.0623C26.5498 24.0489 26.5498 24.031 26.5543 24.0043C26.6034 22.9596 26.7195 22.6873 26.7195 22.6873L32.6793 22.6694L32.9338 21.1962C33.2284 19.5266 33.0186 18.2543 31.4918 17.7543ZM31.0945 20.9864L27.0097 20.9819L27.1704 20.3346C27.1704 20.3346 27.3132 19.8257 27.5945 19.6114C27.8802 19.3971 28.2418 19.3569 28.5811 19.3257C28.9204 19.2944 29.8266 19.2275 30.5632 19.3793C30.8088 19.4284 31.0409 19.5668 31.1034 19.7721C31.2463 20.2543 31.0945 20.9864 31.0945 20.9864Z"
        fill="currentColor"></path>
      <path
        d="M26.5633 24.0221C26.5633 24.0355 26.5589 24.0489 26.5589 24.0623C26.5544 24.1337 26.5633 24.0176 26.5633 24.0221Z"
        fill="currentColor"></path>
      <path
        d="M37.8043 24.0265C37.8043 24.0399 37.7998 24.0533 37.7998 24.0667C37.7998 24.1381 37.8043 24.022 37.8043 24.0265Z"
        fill="currentColor"></path>
      <path
        d="M42.7374 17.7587C42.224 17.5935 41.3356 17.5578 40.5812 17.5667C39.8535 17.5756 39.5187 17.6113 39.2463 17.6694C39.2463 17.6694 37.9517 17.8569 37.2151 18.7676C36.4785 19.6783 36.2597 21.6694 36.2597 21.6694C36.2597 21.6694 35.8222 23.8703 35.9517 24.6069C36.0812 25.339 36.3088 26.0221 37.1392 26.339C37.9695 26.6604 38.6749 26.6426 38.6749 26.6426C38.6749 26.6426 40.157 26.7587 41.2731 26.4953C42.3892 26.2319 42.9785 25.4462 42.9785 25.4462C42.9785 25.4462 43.2419 25.1069 43.4294 24.7051C43.6169 24.3033 43.6749 24.0221 43.6838 23.9863L43.7999 23.5087L41.9026 23.5131C41.9026 23.5131 41.7999 24.7676 40.7731 24.8837C39.7508 24.9997 39.2017 24.9551 39.0008 24.9506C38.8044 24.9417 37.7062 24.9863 37.7954 24.0712C37.7954 24.0578 37.7954 24.0399 37.7999 24.0131C37.849 22.9685 37.9651 22.6962 37.9651 22.6962L43.9249 22.6783L44.1794 21.2051C44.474 19.531 44.2642 18.2542 42.7374 17.7587ZM42.3222 20.9863L38.2374 20.9819L38.3981 20.3346C38.3981 20.3346 38.541 19.8256 38.8222 19.6113C39.1035 19.3971 39.4695 19.3569 39.8088 19.3256C40.1481 19.2944 41.0544 19.2274 41.791 19.3792C42.0365 19.4283 42.2687 19.5667 42.3312 19.7721C42.474 20.2497 42.3222 20.9863 42.3222 20.9863Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M59.1436 17.6827L60.3177 24.1648L63.6347 17.6782L65.5007 17.6961L60.7195 26.9595C60.7195 26.9595 59.8534 28.638 59.3177 29.0622C58.782 29.4863 58.4516 29.6782 58.0141 29.7229C57.5766 29.7675 57.3981 29.7988 56.9784 29.7229L56.532 29.6425L56.8088 27.9863C56.8088 27.9863 57.5498 28.1247 57.9873 27.9505C58.4293 27.7764 58.782 27.0264 58.782 27.0264L59.0052 26.6514L57.2775 17.6782L59.1436 17.6827Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M66.1792 18.5621L68.1033 18.5666L68.2194 17.8211C68.2194 17.8211 68.4248 16.4728 68.8846 16.2139C69.0319 16.1291 69.2685 16.0532 69.5408 16.0041C70.0453 15.9148 70.6837 15.9059 71.206 15.9237C72.0051 15.9505 72.3087 15.9595 73.1212 16.0532C73.9337 16.147 73.7283 16.9327 73.7283 16.9327L73.5676 18.1068C73.5676 18.1068 73.4962 18.6336 73.3087 18.9595C73.1435 19.2496 72.6882 19.4461 72.4248 19.5309C71.7908 19.7362 69.6212 20.2898 69.6212 20.2898L67.9158 20.7809C67.9158 20.7809 66.8667 21.0845 66.2819 21.7318C65.6926 22.3836 65.4605 23.1202 65.3801 23.5041C65.2998 23.888 64.8489 26.5443 64.8489 26.5443L74.0542 26.5487L74.3623 24.7095L67.081 24.7184L67.2105 23.9684C67.2105 23.9684 67.2953 23.1961 67.6078 22.9416C67.706 22.8612 67.7551 22.7541 68.3355 22.5487C68.6837 22.4237 69.8712 22.1068 69.8712 22.1068L72.6167 21.3568C72.6167 21.3568 74.1167 20.9728 74.706 20.1514C75.2953 19.3345 75.523 17.7675 75.523 17.7675C75.523 17.7675 75.6837 16.2452 75.5587 15.7675C75.4382 15.2898 74.9873 14.7184 74.4382 14.4728C73.8891 14.2273 73.3176 14.0845 71.6614 14.1068C70.0051 14.1291 69.1837 14.205 68.3444 14.5175C67.5051 14.8255 67.0185 15.388 66.7105 16.1827C66.3757 16.9371 66.1792 18.5621 66.1792 18.5621Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M83.5097 21.9821L84.7999 14.25H82.5142L75.3981 21.8929L75.0767 23.8304H81.2999L80.8445 26.5446L82.7552 26.5491L83.2061 23.8304L84.9695 23.8348L85.2865 21.9821H83.5097ZM81.6079 21.9866L77.5856 21.9821L82.4829 16.7634L81.6079 21.9866Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.8176 15.2674H20.6792C20.6792 15.2674 21.9917 14.2049 22.9248 13.5219C23.8578 12.8389 25.5542 11.763 25.5542 11.763L22.2417 10.2139C22.2417 10.2139 19.4426 11.946 18.2551 12.763C17.1033 13.5174 14.8176 15.2674 14.8176 15.2674Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M27.416 10.6695L24.6973 8.83915C24.6973 8.83915 27.1571 7.44182 30.4294 6.13825C33.6973 4.83468 35.4428 4.29004 35.4428 4.29004L35.9964 6.88379C35.9964 6.88379 32.8491 7.93736 31.0455 8.79004C29.1794 9.58468 27.416 10.6695 27.416 10.6695Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M38.0052 6.31682L37.532 3.66058C37.532 3.66058 40.8891 2.76772 43.9606 2.19629C47.0364 1.62486 51.1123 1.35254 51.1123 1.35254L49.7641 5.45522C49.7641 5.45522 46.1793 4.96415 42.8132 5.42397C40.1927 5.73647 38.0052 6.31682 38.0052 6.31682Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M51.8982 5.80338L54.1661 1.24534C54.1661 1.24534 59.1348 1.14712 63.4205 1.8123C67.7062 2.47302 71.6259 3.49087 71.5411 3.53552L60.675 9.21855C60.675 9.21855 58.1348 7.61141 54.983 6.6248C53.1973 6.09802 51.8982 5.80338 51.8982 5.80338Z"
        fill="currentColor"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M62.6213 10.4551L65.0097 12.2676H84.6392C84.6392 12.2676 84.599 11.6336 84.0767 10.7319C83.7508 10.1694 83.1571 9.57115 82.5365 8.95061C82.3088 8.7274 81.4071 8.02204 80.7285 7.58008C78.9963 6.45508 78.0276 6.02204 76.2285 5.20508L62.6213 10.4551Z"
        fill="currentColor"></path>
      <path
        d="M16.0901 17.6738C15.3535 17.6738 14.6571 17.964 14.0633 18.2899L14.166 17.6738H12.2151L10.6526 26.4997H12.6079L13.474 21.6113C13.6526 20.6203 14.3937 19.3926 15.8401 19.3926L16.849 19.3881L17.1526 17.6738H16.0901Z"
        fill="currentColor"></path>
    </g>
    <defs>
      <clipPath id="clip0_54_3190">
        <rect
          width="85.7143"
          height="30"
          fill="white"
          transform="translate(0.134766 0.5)"></rect>
      </clipPath>
    </defs>
  </svg>
</div>

<style>
  div {
    @apply flex gap-y-10 gap-x-15 flex-wrap items-center;
  }

  div h6 {
    @apply text-sans-xxs w-full;
  }
</style>
