---
import { Icon } from "astro-icon";

const { name, address, pin } = Astro.props;

const data = name && address && pin;
---

{
  data ? (
    <>
      <span>{name}</span>
      <br />
      <span>{address}</span>
      <br />
      <span>{pin}</span>
    </>
  ) : (
    <div>
      <Icon name="info" width={24} height={24} />
      Uzupełnij dane
    </div>
  )
}

<style>
  div {
    @apply text-orangeDark;
    @apply flex gap-10 items-center;
  }

  div svg {
    @apply text-orange;
  }
</style>
