---
interface Props {
  current: number;
  steps: number;
}

const { current, steps } = Astro.props;
---

<div>
  <span style={`width: ${(current / steps) * 100}%`}></span>
</div>

<style>
  div {
    @apply hidden sm:flex flex-col flex-shrink-0;
    @apply w-[90px] lg:w-[150px];
    @apply h-[3px];
    @apply bg-black/10;
  }

  div > span {
    @apply block h-full bg-black;
  }
</style>
