---
import Icon, { IconSize } from "@components/Icon.astro";
import SaveDraft from "@components/SaveDarft.astro";

interface Props {
  docId: string;
  draft: boolean;
}

const { docId, draft } = Astro.props;
---

<aside>
  {!draft && <SaveDraft documentId={docId} />}
  <show-modal data-modal="questionIndex">
    <button aria-label="Pokaż listę pytań">
      <Icon name="index" size={IconSize.sm} />
    </button>
  </show-modal>
</aside>

<style>
  aside {
    @apply flex items-center gap-10 flex-wrap;
  }

  aside button {
    @apply btn btn-alt;
  }
</style>

<script>
  import "@wc/ShowModal";
</script>
