---
import Hint from "./Hint.astro";
import InputGroup, { InputSize } from "./InputGroup.astro";
---

<form
  id="search"
  method="GET"
  action={`${Astro.url.origin}/dokumenty`}
  spellcheck="false"
>
  <div>
    <InputGroup size={InputSize.lg}>
      <input
        type="search"
        placeholder="Szukaj dokumentu lub sprawy"
        spellcheck="false"
        name="s"
      />
    </InputGroup>
    <button>Szukaj</button>
  </div>
  <Hint>np. testament, umowa najmu, darowizna</Hint>
</form>

<style>
  form {
    @apply flex flex-col sm:gap-10 gap-15;
  }

  form > div {
    @apply flex flex-col justify-center sm:flex-row gap-10 sm:gap-15 items-center flex-wrap;
  }

  form > div :global(div) {
    @apply flex-grow;
    @apply w-full sm:w-auto;
  }

  button {
    @apply btn btn-default btn-big;
  }

  input[type="search"] {
    @apply flex-grow;
  }
</style>
