---
import InputGroup, { InputType } from "./InputGroup.astro";
import Modal from "./Modal.astro";
import Icon from "@components/Icon.astro";

interface Props {
  contentId: string;
  documentId: string;
}

const { contentId, documentId } = Astro.props;
---

<Modal modalId="sharing" modalTitle="Wyślij dokument przez e-mail">
  <send-via-email data-content-id={contentId} data-document-id={documentId}>
    <form spellcheck="false" data-astro-reload>
      <fieldset>
        <InputGroup type={InputType.checkbox}>
          <input id="sendToMe" type="checkbox" name="sendToMe" checked />
          <label for="sendToMe">Wyślij na mój adres e-mail</label>
        </InputGroup>
        <InputGroup>
          <label for="email1">Podaj adres e-mail</label>
          <input type="email" name="email1" id="email1" />
        </InputGroup>
        <InputGroup>
          <label for="email2">Podaj adres e-mail</label>
          <input type="email" name="email2" id="email2" />
        </InputGroup>
        <footer>
          <Icon name="loader" />
          <button type="submit">Wyślij</button>
        </footer>
      </fieldset>
    </form>
  </send-via-email>
</Modal>

<style>
  send-via-email {
    @apply w-full;
  }

  send-via-email,
  send-via-email fieldset,
  send-via-email form {
    @apply flex flex-col gap-20;
  }

  send-via-email fieldset div:first-child {
    @apply flex gap-15;
  }

  send-via-email fieldset footer {
    @apply flex gap-15 items-center justify-end mt-15 w-full;
  }

  send-via-email fieldset footer svg {
    @apply hidden;
  }

  send-via-email form input[type="email"] {
    @apply w-full;
  }

  send-via-email button[type="submit"] {
    @apply btn btn-default self-start;
  }

  p {
    @apply text-sans-md text-black/50;
  }
</style>

<script>
  import "@wc/SendPdfViaEmail";
</script>
