---
import { Icon } from "astro-icon";
---

<show-mobile-menu>
  <button aria-label="Otwórz menu">
    <Icon name="menu" id="menuOpen" width={24} height={24} />
  </button>
</show-mobile-menu>

<style>
  button {
    @apply btn btn-alt;
  }
</style>

<script>
  import "@wc/ShowMobileMenu";
</script>
