---
import { SignOut } from "auth-astro/components";
import Icon from "@components/Icon.astro";
import routes from "@utils/routes";

interface Props {
  email: string;
}

const { email } = Astro.props;
---

<div>
  <span>Zalogowany jako:</span>
  <em>{email}</em>
</div>
<a href={routes.MY_DOCUMENTS}>
  <Icon name="documents" />
  Moje dokumenty
</a>
<a href={routes.IDENTITIES}>
  <Icon name="organization" />
  Moje tożsamości
</a>
<a href={routes.PROFILE}>
  <Icon name="account" />
  Mój profil
</a>
<SignOut params={{ callbackUrl: Astro.url.origin }}>Wyloguj się</SignOut>

<style>
  div {
    @apply mb-8 lg:border-b px-10 lg:px-15 pb-8;
  }

  div span {
    @apply text-sans-xxs text-black/70;
  }

  div em {
    @apply text-italic-sm lg:text-italic-xs text-black truncate text-ellipsis block;
  }
</style>
