---
import Icon, { IconSize } from "@components/Icon.astro";
import { ToastStatus } from "@utils/toasts";

interface Props {
  info?: string;
  status?: ToastStatus;
}

const { info, status = ToastStatus.default } = Astro.props;
const toastIcon = status === ToastStatus.error ? "error" : "pass";
---

<toast-element data-status={status}>
  <Icon name={toastIcon} size={IconSize.xl} />
  <p>{info}</p>
</toast-element>
