---
import { Icon } from "astro-icon";
import { ToastStatus } from "@utils/toasts";

interface Props {
  info?: string;
  status?: ToastStatus;
}

const { info, status = ToastStatus.default } = Astro.props;
const toastIcon = status === ToastStatus.error ? "clear" : "tick";
---

<toast-element data-status={status}>
  <Icon name={toastIcon} width={32} height={32} />
  <p>{info}</p>
</toast-element>
