---
import Layout from "./Layout.astro";
import AppMenu from "../components/AppMenu.astro";
import { getSession } from "../auth-astro/server";
import { Icon } from "astro-icon";

const { title, backurl } = Astro.props;
const session = await getSession(Astro.request);
---

<Layout title={title}>
  <AppMenu session={session} />
  <main>
    <header>
      {
        backurl && (
          <a href={backurl} aria-label="Wstecz">
            <Icon name="arrow-back" width={16} height={16} />
          </a>
        )
      }
      <h1>
        <slot name="topbar-title">title</slot>
      </h1>
      <slot name="topbar-aside" />
    </header>
    <section>
      <slot />
    </section>
  </main>
  <slot name="footer" />
</Layout>

<style is:inline>
  body {
    display: flex;
    height: 100vh;
  }
</style>
<style is:global>
  :root {
    --navbar-height: 62px;
  }
</style>

<style>
  main {
    @apply flex-grow;
    @apply overflow-auto;
    @apply px-30;
    @apply flex flex-col;
  }

  main > header {
    @apply flex items-center;
    @apply sticky top-0;
    @apply bg-gray;
    @apply gap-15;
    @apply z-10;
    @apply w-full;
    @apply min-h-[var(--navbar-height)];
  }

  main > header > h1 {
    @apply flex-grow;
    @apply font-sans font-bold not-italic text-dark90 tracking-tight;
    @apply text-xl;
  }

  main > header > a {
    @apply btn btn-alt;
  }

  main > section {
    @apply flex items-start justify-center flex-1 gap-30;
    @apply pb-[var(--navbar-height)];
  }

  aside {
    @apply sticky top-[var(--navbar-height)];
  }
</style>
