---
import Layout from "./Layout.astro";

const { title } = Astro.props;
---

<Layout title={title}>
  <main>
    <slot />
  </main>
</Layout>

<style>
  main {
    @apply flex justify-center items-start gap-40;
    @apply flex-col lg:flex-row;
    @apply p-30;
  }
</style>
